{
    "extends": "@antfu",
    "rules": {
        "no-console": "off",
        "eol-last": "off",
        "curly": [
            "error",
            "all"
        ],
        "no-extend-native": [
            "error",
            {
                "exceptions": [
                    "Function"
                ]
            }
        ]
    },
    "env": {
        "jest": true
    }
}